<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- MyBatis参数配置 -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<!-- <setting name="useGeneratedKeys" value="false"/> -->
	</settings>

	<!-- 数据源环境配置 -->
	<environments default="dev">
		<environment id="dev">	
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver"/>			
				<property name="url" value="jdbc:mysql://localhost:3307/stock_selector?useSSL=true&amp;serverTimezone=UTC"/>
				<property name="username" value="root"/>
				<property name="password" value="656793"/>
			</dataSource>
		</environment>
	</environments>
	
	<!-- Mapper映射 -->
	<mappers>
		<mapper resource="mybatis/mapper/TabStockInfoMapper.xml"/>
	</mappers>
</configuration>