<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD 3.0 mapper//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  
 * 算法结果表（分表）				tab_algorithm_result
 * 算法ID							algorithm_id									BIGINT								FOREIGN KEY (fk_algorithm_result_info)				PRIMARY KEY
 * 执行日期							run_date										VARCHAR(10)																				PRIMARY KEY
 * 股票ID							stock_id										BIGINT								FOREIGN KEY (fk_algorithm_result_stockInfo)			PRIMARY KEY
 * 是否成功							is_success										VARCHAR(10)							DEFAULT 'UNKNOWN'  									SUCCESS FAIL UNKNOWN
 * 成功率							success_rate									VARCHAR(10) -->
<mapper namespace="com.hanslv.stock.selector.algorithm.repository.TabAlgorithmResultRepository">

	<!-- 获取全部指定is_success字段值的数据 -->
	<select id="getAllDataByIsSuccess" parameterType="java.lang.String" resultType="com.hanslv.stock.selector.commons.dto.TabAlgorithmResult">
		SELECT algorithm_id , run_date , stock_id , is_success , success_rate FROM tab_algorithm_result_001 WHERE is_success = #{type}
		UNION
		SELECT algorithm_id , run_date , stock_id , is_success , success_rate FROM tab_algorithm_result_002 WHERE is_success = #{type}
		UNION
		SELECT algorithm_id , run_date , stock_id , is_success , success_rate FROM tab_algorithm_result_003 WHERE is_success = #{type}
	</select>
	
	<!-- 获取在当前参数TabAlgorithmResult的runDate之前并且不为UNKNOWN的数据 -->
	<select id="getAllDataNotUnknownAndByDate" parameterType="com.hanslv.stock.selector.commons.dto.TabAlgorithmResult" resultType="com.hanslv.stock.selector.commons.dto.TabAlgorithmResult">
		SELECT algorithm_id , run_date , stock_id , is_success , success_rate FROM tab_algorithm_result_001 WHERE is_success &lt;&gt; "UNKNOWN" AND success_rate &lt;= #{paramResultInfo.runDate}
		UNION
		SELECT algorithm_id , run_date , stock_id , is_success , success_rate FROM tab_algorithm_result_002 WHERE is_success &lt;&gt; "UNKNOWN" AND success_rate &lt;= #{paramResultInfo.runDate}
		UNION
		SELECT algorithm_id , run_date , stock_id , is_success , success_rate FROM tab_algorithm_result_003 WHERE is_success &lt;&gt; "UNKNOWN" AND success_rate &lt;= #{paramResultInfo.runDate}
	</select>
	
	<!-- 获取一个算法的当前最后执行时间 -->
	<select id="getMaxRunDateByAlgorithmId" resultType="java.lang.String" parameterType="com.hanslv.stock.selector.commons.dto.TabAlgorithmInfo">
		SELECT MAX(run_date) AS run_date FROM tab_algorithm_result_001 WHERE algorithm_id = #{paramResultInfo.algorithmId}
		UNION
		SELECT MAX(run_date) AS run_date FROM tab_algorithm_result_002 WHERE algorithm_id = #{paramResultInfo.algorithmId}
		UNION
		SELECT MAX(run_date) AS run_date FROM tab_algorithm_result_003 WHERE algorithm_id = #{paramResultInfo.algorithmId}
		ORDER BY run_date
		LIMIT 1
	</select>
</mapper>