<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  
 * 股票基本信息表					tab_stock_info
 * 股票ID							stock_id										BIGINT								PRIMARY KEY					AUTO_INCREMENT
 * 股票代码							stock_code										VARCHAR(6)							UNIQUE
 * 股票名称							stock_name										VARCHAR(8) -->
<mapper namespace="com.hanslv.stock.selector.algorithm.repository.TabStockInfoRepository">

</mapper>