<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  
 * 筛选结果表						tab_result
 * 股票ID							stock_id										BIGINT								FOREIGN KEY(fk_result_stock)				PRIMARY KEY
 * 筛选时间							date											VARCHAR(10)	
 * F1								f1												DECIMAL(5,4)
 * 预测最高价						forcast_max										DECIMAL(18,2)
 * 预测最低价						forcast_min										DECIMAL(18,2) -->
<mapper namespace="com.hanslv.maschinelles.lernen.repository.TabResultRepository">

</mapper>