<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  
 * 筛选结果表						tab_result
 * 股票ID							stock_id										BIGINT								FOREIGN KEY(fk_result_stock)				PRIMARY KEY
 * 筛选时间							date											VARCHAR(10)																		PRIMARY KEY
 * 建议买入价格						suggest_buy_price								VARCHAR(255)
 * 建议卖出价格						suggest_sell_price								VARCHAR(255)
 * 建议盈利比率						suggest_rate									VARCHAR(255)
 * 是否成功							success											BOOLEAN								DEFAULT false -->
<mapper namespace="com.hanslv.maschinelles.lernen.repository.TabResultRepository">

</mapper>