<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  
 * 股票价格信息表（分表）				tab_stock_price
 * 股票ID							stock_id										BIGINT								FOREIGN KEY (fk_stock_price_info)					PRIMARY KEY
 * 日期								stock_price_date								VARCHAR(10)																				PRIMARY KEY
 * 开盘价							stock_price_start_price							DECIMAL(18,2)
 * 收盘价							stock_price_end_price							DECIMAL(18,2)
 * 最高价							stock_price_highest_price						DECIMAL(18,2)
 * 最低价							stock_price_lowest_price						DECIMAL(18,2)
 * 成交量							stock_price_volume								INT(10)
 * 成交额							stock_price_turnover							INT(10)
 * 振幅								stock_price_amplitude							VARCHAR(10)
 * 换手率							stock_price_turnover_rate						DECIMAL(4,1) -->
<mapper namespace="com.hanslv.maschinelles.lernen.repository.TabStockPriceInfoRepository">
	<!-- 获取DeepLearning4j股票模型的训练数据、评估数据 -->
	<select id="getTrainAndTestDataDL4j" resultType="com.hanslv.allgemein.dto.TabStockPriceInfo">	
		SELECT stock_price_date , stock_price_volume , stock_price_highest_price , stock_price_lowest_price , stock_price_start_price , stock_price_end_price , stock_price_highest_price , stock_price_lowest_price 
		FROM tab_stock_price_shangzheng_0001 WHERE stock_id = #{stockId} AND stock_price_date &lt;= #{trainEndDate}
		UNION
		SELECT stock_price_date , stock_price_volume , stock_price_highest_price , stock_price_lowest_price , stock_price_start_price , stock_price_end_price , stock_price_highest_price , stock_price_lowest_price  
		FROM tab_stock_price_shangzheng_0002 WHERE stock_id = #{stockId} AND stock_price_date &lt;= #{trainEndDate}
		UNION
		SELECT  stock_price_date , stock_price_volume , stock_price_highest_price , stock_price_lowest_price , stock_price_start_price , stock_price_end_price , stock_price_highest_price , stock_price_lowest_price  
		FROM tab_stock_price_shangzheng_0003 WHERE stock_id = #{stockId} AND stock_price_date &lt;= #{trainEndDate}
		UNION
		SELECT  stock_price_date , stock_price_volume , stock_price_highest_price , stock_price_lowest_price , stock_price_start_price , stock_price_end_price , stock_price_highest_price , stock_price_lowest_price  
		FROM tab_stock_price_shenzheng_0001 WHERE stock_id = #{stockId} AND stock_price_date &lt;= #{trainEndDate}
		UNION
		SELECT stock_price_date , stock_price_volume , stock_price_highest_price , stock_price_lowest_price , stock_price_start_price , stock_price_end_price , stock_price_highest_price , stock_price_lowest_price  
		FROM tab_stock_price_shenzheng_0002 WHERE stock_id = #{stockId} AND stock_price_date &lt;= #{trainEndDate}
		UNION
		SELECT stock_price_date , stock_price_volume , stock_price_highest_price , stock_price_lowest_price , stock_price_start_price , stock_price_end_price , stock_price_highest_price , stock_price_lowest_price  
		FROM tab_stock_price_shenzheng_0003 WHERE stock_id = #{stockId} AND stock_price_date &lt;= #{trainEndDate}
		ORDER BY stock_price_date DESC LIMIT ${trainDataSize};
	</select>
	
	<!-- 将日期向前移动count个数据量 -->
	<select id="changeDateForward" resultType="com.hanslv.allgemein.dto.TabStockPriceInfo">
		SELECT stock_price_date FROM tab_stock_price_shangzheng_0001 WHERE stock_id = #{stockId} AND stock_price_date &lt; #{currentDate} 
		UNION 
		SELECT stock_price_date FROM tab_stock_price_shangzheng_0002 WHERE stock_id = #{stockId} AND stock_price_date &lt; #{currentDate}  
		UNION 
		SELECT stock_price_date FROM tab_stock_price_shangzheng_0003 WHERE stock_id = #{stockId} AND stock_price_date &lt; #{currentDate} 
		UNION 
		SELECT stock_price_date FROM tab_stock_price_shenzheng_0001 WHERE stock_id = #{stockId} AND stock_price_date &lt; #{currentDate} 
		UNION 
		SELECT stock_price_date FROM tab_stock_price_shenzheng_0002 WHERE stock_id = #{stockId} AND stock_price_date &lt; #{currentDate}  
		UNION 
		SELECT stock_price_date FROM tab_stock_price_shenzheng_0003 WHERE stock_id = #{stockId} AND stock_price_date &lt; #{currentDate} 
		ORDER BY stock_price_date DESC LIMIT ${count}
	</select>
	
	<!-- 将日期向后移动count个数据量 -->
	<select id="changeDateBackward" resultType="com.hanslv.allgemein.dto.TabStockPriceInfo">
		SELECT stock_price_date FROM tab_stock_price_shangzheng_0001 WHERE stock_id = #{stockId} AND stock_price_date &gt; #{currentDate} 
		UNION 
		SELECT stock_price_date FROM tab_stock_price_shangzheng_0002 WHERE stock_id = #{stockId} AND stock_price_date &gt; #{currentDate}  
		UNION 
		SELECT stock_price_date FROM tab_stock_price_shangzheng_0003 WHERE stock_id = #{stockId} AND stock_price_date &gt; #{currentDate} 
		UNION 
		SELECT stock_price_date FROM tab_stock_price_shenzheng_0001 WHERE stock_id = #{stockId} AND stock_price_date &gt; #{currentDate} 
		UNION 
		SELECT stock_price_date FROM tab_stock_price_shenzheng_0002 WHERE stock_id = #{stockId} AND stock_price_date &gt; #{currentDate}  
		UNION 
		SELECT stock_price_date FROM tab_stock_price_shenzheng_0003 WHERE stock_id = #{stockId} AND stock_price_date &gt; #{currentDate} 
		ORDER BY stock_price_date DESC LIMIT ${count}
	</select>
</mapper>