<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"></property>
                <property name="url" value="jdbc:mysql://localhost:3307/stock_selector?useSSL=true&amp;serverTimezone=UTC"></property>
                <property name="username" value="root"></property>
                <property name="password" value="656793"></property>
            </dataSource>
        </environment>
    </environments>
    
    <mappers>
        <mapper resource="mybatis/mapper/TabAlgorithmInfoMapper.xml"></mapper>
        <mapper resource="mybatis/mapper/TabAlgorithmResultMapper.xml"></mapper>
        <mapper resource="mybatis/mapper/TabStockInfoMapper.xml"></mapper>
        <mapper resource="mybatis/mapper/TabStockPriceInfoMapper.xml"></mapper>
    </mappers>
</configuration>