<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
 * 价格-日期ML预测结果表5日		tab_price_date_ml_result_five_days
 * 股票ID						stock_id										BIGINT								FOREIGN KEY (fk_ml_stock_info)						PRIMARY KEY
 * 运行日期						run_date										VARCHAR(10)																				PRIMARY KEY
 * 第一天收盘价					end_price_a										VARCHAR(50)
 * 第二天收盘价					end_price_b										VARCHAR(50)
 * 第三天收盘价					end_price_c										VARCHAR(50)
 * 第四天收盘价					end_price_d										VARCHAR(50)
 * 第五天收盘价					end_price_e										VARCHAR(50) -->
 <mapper namespace="com.hanslv.stock.machine.learning.repository.TabPriceDateMLResultFiveDaysRepository">
 	<!-- 插入List -->
	<insert id="insertList" parameterType="com.hanslv.stock.selector.commons.dto.TabPriceDateMLResultFiveDays">
		INSERT INTO tab_price_date_ml_result_five_days 
		VALUES
		<foreach collection="mlResultList" item="mlResult" separator=",">
			(#{mlResult.stockId} , #{mlResult.runDate} , #{mlResult.endPriceA} , #{mlResult.endPriceB} , #{mlResult.endPriceC} , #{mlResult.endPriceD} , #{mlResult.endPriceE})
		</foreach>
	</insert>
 </mapper>